<!DOCTYPE html>
<html>
<head>
    <title>回路列表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:dcdline:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:dcdline:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:dcdline:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">回路名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dcdLine.name" placeholder="回路名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回路唯一地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dcdLine.address" placeholder="回路唯一地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回路挂接的采集器唯一id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dcdLine.deviceId" placeholder="回路挂接的采集器唯一id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回路的协议（1.DLT645 2.MODBUS）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dcdLine.protocol" placeholder="回路的协议（1.DLT645 2.MODBUS）"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dcdline.js?_${.now?long}"></script>
</body>
</html>