
/*报警信息 实时报警*/
.nav-pills{
    background: #e0e8f3;
}
.nav>li>a {
    padding: 10px 25px;
    color: #333;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #428cf7;
}
.time-query{
    background: #f4f7fc;
    padding: 20px 15px;
    margin-top: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #428cf7;
    border-color: #428cf7;
    margin-left: 15px;
}
.calendar{
    position: relative;
}
.form-group label{
    padding-right: 8px;
}
.form-group select{
    min-width: 120px;
    margin-right: 20px;
}