<!DOCTYPE html>
<html>
<head>
    <title>统计表（按天统计）</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("summary:summaryhour:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("summary:summaryhour:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("summary:summaryhour:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">公司id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.company_id" placeholder="公司id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">站点id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.station_id" placeholder="站点id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.station_name" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回路id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.line_id" placeholder="回路id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回路名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.line_name" placeholder="回路名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">采集日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.date" placeholder="采集日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">小时(按24小时算)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.hour" placeholder="小时(按24小时算)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">一小时的用电量(单位：KWH)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.hour_power" placeholder="一小时的用电量(单位：KWH)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">一小时读表电量 累计值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.hour_total_power" placeholder="一小时读表电量 累计值"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">小时功率</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.hour_gonglv" placeholder="小时功率"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">每小时最大需量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.hour_max_power_demand" placeholder="每小时最大需量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最大需量时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.hour_max_demand_time" placeholder="最大需量时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">半小时最大负荷</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.max_fuhe_half" placeholder="半小时最大负荷"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">一小时最大负荷</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.max_fuhe_full" placeholder="一小时最大负荷"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">半小时最大负荷</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.max_fuhe_half_time" placeholder="半小时最大负荷"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">一小时最大负荷</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="summaryHour.max_fuhe_full_time" placeholder="一小时最大负荷"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/summary/summaryhour.js?_${.now?long}"></script>
</body>
</html>